.App {
  text-align: center;
  
}


body{
  background: linear-gradient(to right,#e66465, #9198e5);
}

h1{
  font-family: 'Bigelow Rules', cursive;
  font-size: 5rem;
  color: #3fe9fe;
  margin: 2rem 0;
  margin-bottom:0px;
}